<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarm1"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="25" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="闹钟"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <receiver
            android:name="com.example.bagguo.dreamalarm.AlarmReceiver"
            android:process=":remote" />

        <activity
            android:name="com.example.bagguo.dreamalarm.MainActivity"
            android:label="梦想闹钟">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.bagguo.dreamalarm.AlertActivity"
            android:label="@string/app_name"></activity>

        <!--<activity android:name="com.example.bagguo.alarmtest.SetAlarm"-->
        <!--android:label="@string/app_name">  -->
        <!--</activity> -->
    </application>

</manifest>
